@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  background: rgba(6, 82, 131, 1);
  background: conic-gradient(
    from 45deg,
    rgba(6, 82, 131, 1),
    rgba(6, 193, 227, 1)
  );
  overflow: hidden;
}

.sign {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 40rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 5px white;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.sign_up {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 40rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 5px white;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.profile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 40rem;
  padding: 2rem;
  border-radius: 10px;
  margin-top: 35px;
  box-shadow: 0 0 5px white;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.info {
  width: 640px;
  margin: 15px auto;
  border-radius: 10px;
  padding: 1rem;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.home{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 15px auto;
  border-radius: 10px;
  padding: 1rem;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  box-shadow: 0 0 5px white;
}